<% @page_title = "Question" %>
<div class="container">
  <div class="question-container">
    <h2>ハワイで役立つQ&A</h2>
    <div class="question-all">
      <ul id="question-list">
        
        <li class="question-list-item">
          <h3 class="question">・日本からハワイに行くのに何時間ぐらいかかりますか？</h3>
          <span>＋</span>
          <div class="answer">
            <p>日本からは６～７時間です。ハワイから日本へは逆風のため８～９時間ぐらいかかります。</p>
          </div>
        </li>
        
        <li class="question-list-item">
          <h3 class="question">・ハワイは年中暑そうだけど、寒くなることはありますか？</h3>
          <span>＋</span>
          <div class="answer">
            <p>冬にハワイ島の山の頂上では雪が降ります！<br>
               オアフ島では、冬はそこまで寒くはならないですがスーパーなどは冷房が効いているので上着が必要です。</p>
          </div>
        </li>
        
        <li class="question-list-item">
          <h3 class="question">・よく耳にする「Alohaアロハ」ってどうゆう意味ですか？</h3>
          <span>＋</span>
          <div class="answer">
            <p>実は「Alohaアロハ」には色々な意味があり、<br>
              挨拶だけではなく「ようこそ」、「さようなら」や、「I Love You」もあります。</p>
          </div>
        </li>
        
        <li class="question-list-item">
          <h3 class="question">・ハワイではチップは必要？</h3>
          <span>＋</span>
          <div class="answer">
            <p>ハワイではチップの習慣があります！アメリカ本土の標準的なチップと同じです｡レストランの場合は15～20%。<br>
              レシートを見るとチップが含まれていることもあるので毎回見ておくと良いです。</p>
          </div>
        </li>
        
        <li class="question-list-item">
          <h3 class="question">・ドレスコードがあるお店では何を着たらいいですか？</h3>
          <span>＋</span>
          <div class="answer">
            <p>ハワイではいつも短パンにビーチサンダルで良いとは限りません。格式が高いレストランでは長ズボン、靴を履き、上には「アロハシャツ」などを着ます。<br>
              ハワイで「アロハシャツ」は正装なので、結婚式でも着ることが出来ます！</p>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>