<div class="container">
  <div class="question-container">
    <h2>Q&A</h2>
    <div class="question-all">
      <ul id="question-list">
        <li class="question-list-item">
          <h3 class="question">日本からハワイに行くのに何時間ぐらいかかりますか？</h3>
          <span>+</span>
          <div class="answer">
            <p>日本からは６～７時間です。ハワイから日本へは逆風のため８～９時間ぐらいかかります。</p>
          </div>
        </li>
        <li class="question-list-item">
          <h3 class="question">ハワイは年中暑そうだけど、寒くなることはありますか？</h3>
          <span>+</span>
          <div class="answer">
            <p>冬にハワイ島の山の頂上では雪が降ります！<br>
               オアフ島では、冬はそこまで寒くならないですがスーパーなどは冷房が効いているので上着が必要です。</p>
          </div>
        </li>
        <li class="question-list-item">
          <h3 class="question">よく耳にする「Alohaアロハ」ってどうゆう意味ですか？</h3>
          <span>+</span>
          <div class="answer">
            <p>実は「Alohaアロハ」には色々な意味があり、<br>
            挨拶だけではなく「ようこそ」、「さようなら」や、「I Love You」もあります。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>