<% @page_title = "Reference Links" %>
<div class="container">
  <div class="reference_links">
    <h2>参考資料</h2>
    <div class="reference_links-list">
      
      <div class="reference_link">
        <p>・ALOHA PROGRAM</p>
        <%= link_to "https://www.aloha-program.com/", "https://www.aloha-program.com/" %>
      </div>
      
      <div class="reference_link">
        <p>・ハワイ州観光局</p>
        <%= link_to "https://www.gohawaii.jp/", "https://www.gohawaii.jp/" %>
      </div>
      
    </div>
  </div>
</div>