<% @page_title = "Youtube" %>
<div class="container">
  <div class="youtube-container">
  <h2>ハワイ関連動画の紹介</h2>
    <div class="youtube-videos">

      <div class="youtube-list">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/ElNOG0MbCk4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>ハワイ州観光局　オアフ島</p>
      </div>

      <div class="youtube-list">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/gcOvl9D7jaI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>ホノルル　ハワイ旅行ガイド</p>
      </div>

      <div class="youtube-list">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/kNyEI-2udxs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>ハワイ トラベルガイド</p>
      </div>

      <div class="youtube-list">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/UMDZDOUlGmk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>ハワイアン航空</p>
      </div>

      <div class="youtube-list">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/VuH16rHBYWs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>ハワイアンフード</p>
      </div>

      <div class="youtube-list">
        <iframe width="300" height="200" src="https://www.youtube.com/embed/c0G0ErP_G0M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>ロイヤルハワイアンセンター</p>
      </div>

    </div>
  </div>
</div>