<div class="container">
  <div class="about">
    <h1 id="about">About</h1>
    <div class="imgBox">
      <%= image_tag "island.png", usemap: "#Map" %>
      <div class="about-background">
        <div class="KAUAI">≺KAUAI</div>
        <div class="OAHU">OAHU≻</div>
        <div class="MOLOKAI">≺MOLOKAI</div>
        <div class="MAUI">≺MAUI</div>
        <div class="LANAI">LANAI≻</div>
        <div class="HAWAII">≺HAWAII</div>
        <div class="about-title">Welcome to <strong>Go To Hawaii</strong></div>
        <div class="about-message">このサイトは、会員登録したユーザー様同士でハワイの情報や魅力を投稿、共有するためのサイトです。<br>
                                   まだハワイに行ったことない人や、もうハワイへ何度も行った人にもこのサイトを通じて情報や魅力を共有し合いハワイをより知ることができます！<br>
                                   また、現地で役立つ基礎知識などのコンテンツもあり、ユーザー様にとって便利なサイトとなっております！</div>
        <% unless current_customer == @customer %>
          <div class="about-registrations">新規登録してみる＝＞　<%= link_to "新規登録", new_customer_registration_path%></div>
        <% end %>
      </div>
      <map name="Map">
        <area shape="poly" coords="236,186,275,202,294,188,292,177,299,164,291,155,264,153,241,162,234,171,236,186,236,187" href="#" alt="" />
        <area shape="poly" coords="404,226,426,225,443,211,450,212,489,263,478,270,461,273,452,264,428,267,421,254,410,243,410,236,410,236" href="#" alt="" />
        <area shape="poly" coords="523,265,555,270,560,266,566,272,595,273,587,287,572,292,548,287,518,284,519,278,525,273,525,273" href="#" alt="" />
        <area shape="poly" coords="546,303,548,311,556,314,557,326,576,325,582,314,570,302,570,302" href="#" alt="" />
        <area shape="poly" coords="599,289,606,289,615,294,619,304,640,298,648,299,657,308,678,317,678,330,659,339,650,337,641,344,627,343,621,337,620,326,618,320,611,321,595,311,592,304,593,298,593,298" href="#" alt="" />
        <area shape="poly" coords="683,374,686,393,693,404,692,408,682,421,678,421,667,430,667,441,671,447,676,449,686,481,683,499,689,517,701,520,713,530,730,513,732,507,755,495,761,489,770,492,796,481,817,464,816,456,800,447,792,434,789,432,782,433,784,421,766,403,726,387,725,390,716,381,694,373,694,373" href="#" alt="" />
      </map>
    </div>
  </div>
</div>