<video src="Go to Hawaii1.mp4" width="100%" height="100%" autoplay muted loop playsinline></video>
<div class="container">
    <div class="pick-up-hawaii-main">
        <h1>Pick Up Hawaii</h1>
    </div>
    <div class="container">
        <div class="post-picture">
            <%= render 'publics/posts/posts_index', posts: @posts %>
        </div>
    </div>

