/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/////////////////////header////////////////
header {
  .container {
    text-align: center;
  }
}

.header-logo {
  height: 220px;
}

.header-tab {
  font-size: 30px;
  color: #fff;
  background-color: #26c3e269;
  border: #1393bb00;
  padding: 20px;
  border-radius: 50px;
  transition: all .3s;
    .left {
      margin-left: 10px;
    }
}

.header-tab:hover {
  text-decoration: none;
      color: #fff;
      background-color: #00d0ff;
    }

    .header-tab:active {
      color: green;
    }

///////////////////////body/////////////////

.background-img{
  background-image: linear-gradient( 130deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(913976.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
//customer-top
.container {
  .pick-up-hawaii-main{
    width: 100%;
    height: 700px;
  }
}
.posts-index-all {
  display: flex;
  flex-wrap: wrap;
}
