// Place all the styles related to the categotys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//pick-up-category
.swiper-slide {
  cursor: pointer;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
}

.swiper-container {
  height: 300px;
  margin: 80px auto 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-align: center;
}

.swiper-slide {
  position: relative;
}
.swiper-slide img {
  border: 5px solid #0ce0ab;
  border-radius: 50%;
}

.swiper-slide p {
  color: black;
  font-size: 47px;
  background-color: #ffffffa8;
  font-family: 'Dancing Script', cursive;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

//reference_links
.reference_links-list {
  background: #fff;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  margin: 60px 0;
  p {
    font-size: 25px;
  }
  a {
    font-size: 20px;
  }
}

.reference_link {
  margin-bottom: 20px;
}

//youtubes
.youtube-videos {
  text-align: center;
}
.youtube-list {
  margin: 30px;
  display: inline-block;
  flex-wrap: wrap;
  p {
    padding: 6px 0 20px 0;
    font-size: 18px;
    border-bottom: 1px solid;
  }
}

//category/question(Q&A)
.question-all {
  background-color: #fff;
  border: 3px solid black;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.32);
  padding: 15px 25px;
}

.question-list-item {
  list-style: none;
  margin: 10px;
  border-bottom: 2px solid #ccc;
  position: relative;
  cursor: pointer;
  text-align: left;
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  span {
  position: absolute;
  top: -3px;
  right: 5px;
  color: #333;
  font-size: 25px;
  font-weight: 700;
  }
}

.answer {
  font-size: 15px;
  padding: 5px 0px;
  margin-bottom: 15px;
  display: none;
}

//sns
.sns-image {
  width: 45%;
  height: 200px;
  margin: 60px 0 58px 0;
}

.sns-icon {
  width: 100%;
}

.sns-icon-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .twitter {
    display: inline-block;
    font-size: 28px;
    padding: 2px 10px;
    margin: 10px;
    color: #fff;
    background: #07d0fd;
    border: 1px solid #07d0fd;
    border-radius: 7px;
    font-weight: bold;
    transition: all .3s;
  }
  .facebook {
    display: inline-block;
    font-size: 28px;
    padding: 2px 10px;
    margin: 10px;
    color: #fff;
    background: #3b5998;
    border: 1px solid #3b5998;
    border-radius: 7px;
    font-weight: bold;
    transition: all .3s;
  }
  .instagram {
    display: inline-block;
    font-size: 28px;
    padding: 2px 10px;
    margin: 10px;
    color: #fff;
    background: radial-gradient(#ffdb2cd9 18%, rgba(47, 35, 243, 44%) 44%, rgba(234, 24, 131, 79%) 80%);
    border: 1px solid #fd07e4;
    border-radius: 7px;
    font-weight: bold;
    transition: all .3s;
  }
  .youtube {
    display: inline-block;
    font-size: 28px;
    padding: 2px 10px;
    margin: 10px;
    color: #fff;
    background: #fc0d1c;
    border: 1px solid #fc0d1c;
    border-radius: 7px;
    font-weight: bold;
    transition: all .3s;
  }
  .github {
    display: inline-block;
    font-size: 28px;
    padding: 2px 10px;
    margin: 10px;
    color: #fff;
    background: #323638;
    border: 1px solid #323638;
    border-radius: 7px;
    font-weight: bold;
    transition: all .3s;
  }
  span {
    font-size: 30px;
    margin-left: 7px;
  }
}

.twitter:hover {
  opacity: 0.6;
}

.facebook:hover {
  opacity: 0.8;
}

.instagram:hover {
  opacity: 0.8;
}

.youtube:hover {
  opacity: 0.6;
}

.github:hover {
  opacity: 0.8;
}



@media (min-width: 768px) {
  .sample03 .swiper-button-prev,
  .sample03 .swiper-button-next {
    display: block;
  }
}