// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///会員側///

//registrations-customer
.registrations-customer-form {
  margin: 80px 0;
  padding: 0 280px;
  form {
    padding: 55px 15px;
    border: 1px solid;
    border-radius: 15px;
    background: #fff;
    dt {
      font-size: 25px;
      margin-top: 15px;
    }
    dd {
      margin: 5px 0 30px 0;
    }
  }
}

.customer-signup-btn {
  margin-bottom: 50px;
}

.registrations-info {
  margin-bottom: 12px;
  padding: 15px 0 0px 0;
  font-size: 20px;
  border-top: 1px dashed;
}

.sns-login {
  font-size: 40px;
}

//sessions-customer
.sessions-customer-form {
  margin: 80px 0;
  padding: 0 280px;
  form {
    padding: 55px 15px;
    border: 1px solid;
    border-radius: 15px;
    background: #fff;
    dt {
      font-size: 25px;
    }
    dd {
      margin: 10px 0;
    }
    .login-btn {
      margin: 20px 0;
    }
  }
}

.customer-login-btn {
  margin: 20px 0 10px 0;
  padding: 10px 35px;
  font-size: 25px;
}

//customer-show
.show-profile_image{
  text-align: center;
  img {
    border: 3px outset #ccc;
  }
}

//customer-edit
.edit-customer-form {
  margin: 80px 0;
  padding: 0 280px;
  form {
    padding: 55px 15px;
    border: 1px solid;
    border-radius: 15px;
    background: #fff;
    dt {
      font-size: 25px;
      margin-top: 15px;
    }
    dd {
      margin: 5px 0 30px 0;
    }
  }
}

#edit-profile_image {
  padding: 0px 40px;
}

//edit-registrations
.edit-registrations-customers {
  text-align: center;
}

.edit-registrations-customers-form {
  margin: 80px 0;
  padding: 0 280px;
  form {
    padding: 55px 15px;
    border: 1px solid;
    border-radius: 15px;
    background: #fff;
    dt {
      font-size: 25px;
    }
    dd {
      margin: 10px 0;
    }
  }
}

.user-icon {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}

//new-password
.customer-password-new {
  text-align: center;
}

.password-new-form {
  margin: 80px 0;
  padding: 0 280px;
  form {
    padding: 55px 15px;
    border: 1px solid;
    border-radius: 15px;
    background: #fff;
    dt {
      font-size: 25px;
    }
    dd {
      margin: 10px 0;
    }
  }
}

.user-icon {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}


//SNS認証ボタン
a.fab.fa-facebook-square {
  color: #3b5998;
  text-decoration: none;
}

a.fab.fa-google {
  color: #e94235;
  text-decoration: none;
}

//ゲストログインボタン
.guest-btn {
  margin-top: 20px;
}

///管理者側///

//admins/customers
.admins-customer {
  margin-bottom: 40px;
}

.admins-customer-list {
  > table {
    width: 100%;
  }
}

.admins-customer-form {
  text-align: center;
  margin: 80px 0;
  padding: 0 280px;
  form {
    padding: 55px 15px;
    border: 1px solid;
    border-radius: 15px;
    background: #fff;
    dt {
      font-size: 25px;
      margin-top: 15px;
    }
    dd {
      margin: 5px 0 30px 0;
    }
  }
}

//admin/password/new
.admin-password-new {
  text-align: center;
}