// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//homes/top/Share-YourPic
.posts-index {
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-title {
  font-size: 30px;
  max-width: 300px;
  white-space: nowrap; //改行を半角スペースに置き換える//
  overflow: hidden; //はみだした部分を削除 //
  text-overflow: ellipsis; //末尾に「…」を付加//
}

.to_posts-btn {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  color: #333;
  background-color: #fff;
  float: right;
  border: 1px solid;
  border-radius: 5px;
}

.to_new_post {
  float: center;
}

.post {
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

.img {
  border: 3px outset #ccc;
}

//posts/show
.post-show-info {
  position: relative;
  text-align: center;
  padding: 55px 15px;
  border: 1px solid;
  border-radius: 15px;
  background: #fff;
  dt {
    font-size: 25px;
  }
  dd {
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid;
  }
  .admin-login-btn {
    margin: 20px 0;
  }
}

.post-show-info:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #333;
}

.show-spot {
  display: none;
}

//posts/new
.new-posts {
  margin-bottom: 20px;
}

.new-posts-btn {
  margin: 20px;
  text-align: center;
}

.preview_image > img {
  border: 3px outset #ccc;
}

//posts/edit
.edit-posts {
  margin-bottom: 20px;
}

.edit-posts-btn {
  margin: 20px;
  text-align: center;
}

//posts/google_map
#map {
  width: 100%;
  height: 400px;
}

#edit_map {
  width: 100%;
  height: 400px;
}

#show_map {
  height: 320px;
  width: 100%;
}

////管理者側////

//posts/index
.admins-posts-index {
  margin-bottom: 40px;
}

.admins-posts > .table > thead > tr {
  >th:nth-child(2) {
    width: 10%;
  }
  >th:nth-child(3) {
    width: 40%;
  }
  >th:nth-child(5) {
    width: 7%;
  }
  >th:nth-child(6) {
    width: 10%;
  }
}

//edit-post
.edit-admins-post{
  text-align: center;
}

.edit-admins-post-form {
  margin: 80px 0;
  padding: 0 280px;
  form {
    padding: 55px 15px;
    border: 1px solid;
    border-radius: 15px;
    background: #fff;
    dt {
      font-size: 25px;
      margin-top: 15px;
    }
    dd {
      margin: 5px 0 30px 0;
    }
  }
}

input[type="file"] {
    display: block;
    padding-left: 130px;
}