// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///会員側///

.table {
  text-align: center;
}

.follow-index > .table > thead > tr {
  > th:nth-child(1) {
    width: 12%;
  }
  > th:nth-child(2) {
    width: 30%;
  }
}

.follow-btn {
  text-align: center;
}