<div class="favorite-btn-container">
<% if post.favorited_by?(current_customer) %>
	<li style="list-style-type: none">
		<%= link_to post_favorites_path(post), method: :delete, remote: true do %>
		<%= image_tag "shaka.jpg", class: "favorite-btn" %>
  		<% end %>
	</li>
<% else %>
	<li style="list-style-type: none">
  		<%= link_to post_favorites_path(post), method: :post, remote: true do %>
  		<%= image_tag "shaka-black.jpg", class: "favorite-btn" %>
 		<% end %>
	</li>
<% end %>
</div>