<% @page_title = "Hawaii" %>
<div class="island-index">
  <div class="hawaii-image">
    <div class="island-name">Hawaii</div>
  </div>
  <div class="container">
    <div class="island-container">
      <div class="island-info">
        <p>
          <strong>ハワイ島</strong>に降り立てば、まさに驚きと感動体験の連続です。ハワイ火山国立公園から流れ出す溶岩マグマ、マウナケア山頂を覆う雪、ハマクア・コーストの緑豊かな熱帯雨林、プナルウ・ビーチの真っ黒な砂。ハワイ島は、他にはない自然の驚異に満ちています。 
          ハワイの他の島を全部合わせた面積より2倍近い大きさで、その規模だけでも驚異的。世界にある全気候帯17のうち2つ（サハラ気候・北極気候）を除く15の気候帯が、このハワイ島に存在します。 ハワイ最大を誇る島の広さが、素晴らしい環境と幅広いアクティビティを生み出しています。
          贅沢なリゾートや一流のゴルフ・コースから、情緒あふれる素朴な町、神聖なハワイの史跡、カメハメハ大王の生誕地、古い歴史を持つカイルア・ビレッジ（カイルア・コナ）にあるハワイ最初の教会まで。広大な島に観光スポットがたくさんあるハワイ島。きっと何度も訪れたく場所になるはずです。 
        </p>
      </div>
    </div>
  </div>
</div>