<% @page_title = "Kauai" %>
<div class="island-index">
  <div class="kauai-image">
    <div class="island-name">Kauai</div>
  </div>
  <div class="container">
    <div class="island-container">
      <div class="island-info">
        <p>
          <strong>カウアイ島</strong>はハワイ諸島においては４番目の大きさの島で、「ガーデンアイランド」とも呼ばれており、まさにそれはこの島をよく言い表している呼び方です。ハワイ諸島で最古の、そして最も北にあるこの島は、長年に渡る風雨による侵食でできた、エメラルド色に輝く谷と鋭くとがった山々、険しい崖に囲まれています。
          さらに、その長い年月は熱帯雨林、いくつもの支流を持つ川、そして流れ落ちる滝を作り出してきました。カウアイ島は海や空からのみしかアクセスできない場所もあり、そこには私達の想像を超える素晴らしい光景が広がっています。壮大な自然の美しさを持つこの島は、アウトドア アクティビティーの宝庫。カヤックでのワイルア川下り、ポイプビーチでのシュノーケリング、コケエ州立公園でのハイキング。
          さらにはカウアイ島にあるいくつもの谷を爽快に滑り降りるジップラインも。一方で、時を経ても変わらない島ののんびりした雰囲気と豊かな文化は、点在する小さな町や一車線しかな橋などに今でも残っています。
        </p>
      </div>
    </div>
  </div>
</div>