<% @page_title = "Lanai" %>
<div class="island-index">
  <div class="lanai-image">
    <div class="island-name">Lanai</div>
  </div>
  <div class="container">
    <div class="island-container">
      <div class="island-info">
        <p>
          信号が 1つもなく、舗装されている道路は48㎞だけ･･･。マウイ島から14㎞離れるだけで別世界の風景が広がる<strong>ラナイ島</strong>は、2つのまったく違う顔を持っています。
          ジャック・ニクラス設計の優れた設備を誇るゴルフコース、マネレ・ゴルフコースでプレイを楽しめ、ワールドクラスのおもてなしが待っているゴージャスなリゾート地。その一方で、4WDで道なき道を進むと現れるケアヒアカヴェロ（神々の庭園）やポリフア・ビーチのような秘境の数々。
          ハワイで1番人口が少ないラナイ島は、実はアドベンチャーが盛りだくさん。松の木が並ぶマンロー・トレイルの頂上から眺める美しい景色、ロマンティックなフロポエ湾から見えるハシナガイルカの群れ。ゆったりとした時間、ドキドキワクワクのアドベンチャー、2人の関係を深める特別な体験、ラナイ島はそのすべてが揃った特特別な場所です。日常の忙しさを忘れ、ラナイ島で特別な時間をお過ごしください。
        </p>
      </div>
    </div>
  </div>
</div>