<% @page_title = "Maui" %>
<div class="island-index">
  <div class="maui-image">
    <div class="island-name">Maui</div>
  </div>
  <div class="container">
    <div class="island-container">
      <div class="island-info">
        <p>
          「渓谷の島」として知られる<strong>マウイ島</strong>には、アーティストが集う町や、地元の人々に親しまれてきた情緒豊かな町が点在しています。
          ワイルクのマムアンドパップ・ベーカリーや、ラハイナにある地元農場の素材を活かしたグルメレストラン。
          光り輝く美しいビーチやイアオ渓谷の秘境、ホエールウォッチング、ハレアカラ国立公園からのサンセットなど、マウイ島が『コンデナスト・トラベラー』誌で「ベスト・アイランド」に20年以上選ばれ続けている理由がそこにあります。
        </p>
      </div>
    </div>
  </div>
</div>