<% @page_title = "Molokai" %>
<div class="island-index">
  <div class="molokai-image">
    <div class="island-name">Molokai</div>
  </div>
  <div class="container">
    <div class="island-container">
   <div class="island-info">
     <p>はるか昔から変わらない、手つかずの自然と美しいビーチが広がる<strong>モロカイ島</strong>には、今も昔も変わらないゆったりとした時間が流れています。
        ハワイで5番目の大きさのこの島は、全長61km、幅は広い所でもわずか16km。北東の海岸には高さ1,100～1,200mもの世界最大の岸壁があり、南部の沖合にはハワイ最長のサンゴ礁が約45kmに渡って広がります。カラウパパ国立歴史公園を目指し崖に沿ってハイキングしたり、ハワイ最大の砂浜パポハク・ビーチでのんびりしたり。また、サイクリングや４WDでのドライブなど、アウトドア・アドベンチャーを楽しめる島です。
        モロカイ島はハワイ先住民の地をひく人々が多く住む島。大地への愛情「アロハ・アイナ」を持って古来からの生活を守り、ハワイの伝統文化が今でも息づいています。このアロハ・アイナは小さなカウナカカイの町から神聖なハラヴァ渓谷まで、島中で感じることができるでしょう。
      </p>
   </div>
   </div>
  </div>
</div>